body{
    margin: auto;
    max-width: 1200px;
    
}

#contact{
    max-width: 1200px;
    margin-top: 80px;
    margin-bottom: 80px;
}

#contact-form {
    margin: auto;
    max-width: 800px;
    padding-left: 60px;
    padding-right: 16px;
}