<!-- your html code here -->
<p>Hello, I'm the first_heading.html</p>
<div class="container mt-5">
    <div class="row align-items-center">
        <div class="col-md-7">
            <h2>This First Heading</h2>
            <h2 style="color: #eee;">Will Catch Your Eye</h2> 
            <p>Donec ullamcorper nulla non metus auctor fringilla. 
                Vestibulum id ligula porta felis euismod semper. 
                Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 text-end">
            <img src="https://tse3.mm.bing.net/th?id=OIP.lBw9WXn6kXNjN3ThhBOzGAHaHa&pid=Api" alt="walter white" class="imagen img-fluid" style="border-radius: 10px;">
        </div>
    </div>
</div>